.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: blueviolet;
}

.btnAdd{
    width: 25%;
    margin-bottom: 8px;
}

.title::after{
    content: "";
    display: block;
    width: 90px;
    height: 3px;
    margin-top: 5px;
    background-color: rgb(17, 206, 102);
    /* margin: 10px auto; */
    border-radius: 5px;
}

.group{
    display: flex;
}

.group p{
    margin-right: 5px;
}

.group .user{
    color: rgb(0, 102, 255);
}