.title::after{
    content: "";
    display: block;
    width: 90px;
    height: 3px;
    margin-top: 5px;
    background-color: rgb(17, 206, 102);
    /* margin: 10px auto; */
    border-radius: 5px;
}